@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
}
/* App.js */

.app {
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
.appRow {
  width: inherit;
  min-height: 100% !important;
  /* border: 2px solid #000 !important; */
}
.wrapper {
  /* border:2px solid #000; */
  width: inherit;
  height: inherit;
  color: #fff;
  overflow-y: auto;
}
.artistLink,
.artistLink:hover {
  /* border: 1px solid #fff; */
  color: #fff;
  font-size: 1.15em;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1.5vw;
}
/* Start.js */
.cl-btn-wrapper {
  width: inherit;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* createLink.js */
#createLink-div {
  width: inherit;
  /* border: 2px solid #000 */
}
/* .prevIcon {
  border: 3px solid #000;
} */
.cl-corner {
  /* border:1px solid #000; */
  margin: 1.7em 0 0 4.55em;
  width: 19%;
}
.header2 {
  color: #fff;
  font-weight: 200;
  font-size: 2em;
  /* border: 3px solid #000; */
}
.center-it-cl {
  /* border: 2px solid #000; */
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: cente; */
}
.center-it-cl div {
  /* border: 3px solid #000 */
}
.form {
  display: grid;
  /* width: inherit; */
  place-items: center;
  /* border: 2px solid #fff; */
}
.cbtn {
  /* height: 2.3em; */
  box-sizing: border-box;
  color: #fff !important;
  font-size: 1.7em !important;
  width: 65% !important;
  position: relative;
  left: 17%;
}

.chatAbout {
  font-size: 2em;
  margin-top: 85px;
  text-align: center;
  /* border: 2px solid #000; */
}
.cl-inputDiv {
  /* border: 2px solid #000; */
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  justify-self: center;
  /* border: 1px solid #000; */
}
.topic-input {
  border: none;
  border-radius: 10px;
  height: 2.7em;
  padding-left: 23px;
  margin: 14px 0 0 2em;
  padding-top: 0;
  padding-right: 0;
}

.bubb {
  font-family: "Courier New", Courier, monospace;
  opacity: 0.7;
  border: 2px solid #000;
}

.bg {
  background-image: linear-gradient(rgba(109, 72, 225, 0.45), #7325c2),
    url("https://media.discordapp.net/attachments/787951209818226708/788658752982351892/giphy-3.gif");
  opacity: 1;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transform: scale(1.2);
}

/* copyLink.js */
.corner {
  display: flex;
  align-items: flex-end;
  /* border: 2px solid #000;  */
}
.header {
  font-size: 2em;
  display: block;
}
.circular-btns {
  display: flex;
  justify-content: space-around;
  /* border: 1px solid #fff; */
  width: 250;
  text-transform: uppercase;
  margin: 0.4em 0 0.6em 0;
}
.circular-btns div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid #fff */
}
.avatarBtn {
  background-color: transparent;
  /* border: 1px solid #fff; */
}
.linkCopied {
  visibility: hidden;
  z-index: 2;
}
#url-preview {
  display: flex;
  flex-direction: row;
}
.copyHover:hover {
  background-color: #48a7ff !important;
  box-shadow: none !important;
}

.btnOutline:hover {
  box-shadow: 0 0 0 3px #fff;
  position: relative;
  z-index: 10;
}
.lcChatRoom {
  background: #fff;
  border-radius: 35px;
  position: absolute;
  text-align: center;
  left: 5em;
  top: 6em;
  padding: 10px 18px !important;
  margin-right: 5px !important;
  width: auto;
  visibility: hidden;
  border: 2px solid #000 !important;
}
.topic-input::-webkit-input-placeholder {
  color: #d9d9d9;
  font-size: 1.2em;
  vertical-align: middle;
  line-height: 1.5em;
  /* border: 1px solid #000; */
}
#input-area {
  bottom: 10px;
  width: 60%;
  height: 75%;
  /* border: 1px solid #000; */
  display: grid;
  grid-row-gap: 5px;
  text-align: center;
}
#input-area ::-webkit-scrollbar {
  display: none;
  scrollbar-width: 0px;
}
.input-container {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  /* border: 1px solid #000; */
}
.in-grid {
  align-items: center;
  position: relative;
  width: 85%;
  min-width: 400px;
  display: grid;
  grid-template-columns: 2fr 0.01fr;
  place-items: center;
  justify-self: end;
  align-items: start;
}
/*preventing border*/
:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}
.message-input {
  border-radius: 40px;
  width: inherit;
  resize: none;
  font-size: 15px;
  /* padding-left: 25px;
  padding-top: 15px; */
  border: 1px solid;
  justify-self: end;
  /* margin-bottom: 50px; */
  padding: 15px 7rem 0 25px;
  font-size: 1.2em;
  height: 3.5em;
  line-height: 1.5em;
  border: 1px solid #000;
}
.message-input::-webkit-input-placeholder {
  color: #d9d9d9;
  font-size: 1em;
  vertical-align: middle;
  line-height: 1.5em;
  padding-left: 0.1em;
}

.chatBg {
  z-index: -5;
  background-position: center;
  background-size: cover;
  height: 90vh;
  transform: scale(1.2);
  text-align: center;
  align-content: center;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  /* border: 1px solid #000; */
}
#inChatRoom {
  z-index: 20;
  position: absolute;
  width: 90%;
  height: 12%;
  justify-content: center;
}
#new-user {
  width: 330px;
  height: 60%;
  /* height: 300px; */
  /* max-height: 60vh; */
  background-color: white;
  border-radius: 70px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  z-index: 10;
  text-align: center;
  font-family: "Roboto";
  /* border: 1px solid #000; */
}
.name {
  margin-top: 1.2em;
}
.inputName {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 99%;
}
.userName-input {
  border-radius: 20px;
  border: 2px solid #dcdcdc;
  font-size: 23px;
  width: 210px;
  padding: 17px;
}
::placeholder {
  color: #e7e7e7;
}
.userName-input:focus {
  outline: none;
}
.chatJoinBg {
  background-position: center;
  background-size: cover;
  height: 110px;
  width: 100%;
  border-radius: 70px 70px 0px 0px;
  padding: 20px;
  text-align: center;
}
button:focus {
  outline: none !important;
  opacity: 0.6;
}
button:hover {
  padding: 5px;
}
.inputTextBox {
  display: flex;
  align-content: center;
}
.cancelText {
  margin: 0 auto;
  margin-top: 10px;
  visibility: hidden;
}
.inputInfo-div {
  height: 37%;
}
.span-joiningAs {
  font-weight: 400;
  font-size: 1.1em;
  color: #757575;
  text-align: center;
  width: 70%;
  display: block;
  margin-top: 10;
  margin-bottom: 10;
}
.avatarAndUName {
  color: #000;
  /* border: 1px solid #000; */
  text-align: left;
  font-size: 1.35em;
  width: 13em;
  float: right;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  position: relative;
}
.avatarSpace {
  margin-right: 0.5em;
  padding: 1px 2px;
  border-radius: 60%;
}
.joinChatBtn {
  background-color: #48a7ff;
  border-width: 0;
  padding: 20px;
  margin-left: 45px;
  font-size: 25px;
  font-weight: 700;
  color: white;
  border-radius: 50px;
  width: 70%;
  height: 35%;
  font-family: "Roboto";
  display: flex;
  align-items: center;
  justify-content: center;
}
.nameCrossBtn {
  visibility: hidden;
  margin: 0 15px;
}
.roomContainer {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.newRoom {
  height: 100vh;
  object-fit: contain;
  display: grid;
  grid-template-columns: 0.07fr 1fr;
  background-color: white;
  width: 100%;
  /* position: relative; */
}
.rBtns {
  height: inherit;
  justify-content: center;
  /* border: 1px solid #000; */
}
.blackBg {
  height: 100vh;
  width: 100%;
  background-color: #000;
  opacity: 0.83;
  position: absolute;
  z-index: 45;
}
/* .crossSvg {
  border: 1px solid #000;
} */
.solDiv {
  filter: blur(0);
  position: absolute;
  z-index: 50;
  width: 30em;
  text-align: center;
  transform: translate(35.4vw, 30vh);
  /* display: flex; */
  /* border: 1px solid #000; */
  border-radius: 35px;
  background-color: rgb(238, 238, 238);
}
.solDiv h1 {
  /* border: 1px solid #000; */
  padding: 0.9em 0 0.6em !important;
  font-size: 2.5em !important;
}

.solDiv button {
  width: 50% !important;
  padding: 1.6em 0 !important;
  font-size: 2em !important;
  color: white !important;
}
.btnsHolder {
  display: flex;
  height: 50% !important;
}
.btnStay {
  background-color: #bcbcbc !important;
  border-radius: 0 0 0 35px !important;
}
.btnYes {
  background-color: #48a7ff !important;
  border-radius: 0 0 35px 0 !important;
}
.thwackContainer {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 5px solid #000;
}
.thwackContainer:first-child {
  font-size: 1.7em;
  margin-top: 10px;
}
.thwackMessage {
  font-size: 2.5em;
  font-weight: bold;
  /* border: 2px solid #000; */
  position: relative;
  bottom: 0.5em;
}
.thwack-goodbye {
  color: #aaa;
  font-weight: bold;
  font-size: 1.3em;
  position: absolute;
  bottom: 2em;
  width: 100%;
}
.copySvg .copy {
  position: relative;
  left: 1vw;
}
.copy:hover path {
  fill: #656565;
}
.chat-container {
  display: grid;
  grid-gap: 0;
  place-items: center;
  height: 94%;
  width: 100%;
  justify-self: center;
  /* border: 2px solid #000; */
  position: relative;
}
.topicAndListContainer {
  /* border: 1px solid #000; */
  padding: 0.7em 0 1.2em 0;
  display: flex;
  width: 60%;
  justify-content: space-around;
  /* align-items: flex-end; */
}
.hamburger-menu {
  display: none;
}
.chat-topic {
  width: inherit;
  text-align: center;
  font-weight: 600;
  font-size: 1.6em;
  font-style: "roboto";
  /* border: 2px solid #000; */
  /* display: flex; */
}
.usersStack {
  border: 1px solid #fff;
  /* display: none; */
  position: fixed;
  top: 0;
}
.userListContainer {
  padding: 0 1em;
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 33vw;
  z-index: 50;
}
.stackContainer {
  display: flex;
  flex-direction: row;
}
.userCounter {
  padding: 0 5px;
  z-index: 50;
  color: #656565;
}
.userCount {
  position: relative;
  top: 15;
  left: 430;
  color: #656565;
  z-index: 50;
  font-size: 1.5em;
}
.user-coin {
  border-radius: 50%;
  position: absolute;
  width: 33px;
  height: 33px;
  margin-left: -17;
  border: 2px solid #fff;
}
.userListContent {
  z-index: 50;
  position: absolute;
  top: 8%;
  left: 18%;
  display: flex;
  /* border: 1px solid #fff; */
  width: 43%;
}
.list-name-and-avatar {
  /* border: 1px solid #fff; */
  display: flex;
  align-items: center;
  margin: 15;
}
.list-user-name {
  color: #fff;
  /* border: 2px solid #fff; */
  width: 50%;
  text-align: right;
  padding-right: 3;
  text-overflow: ellipsis;
  font-size: 1.3;
}
.list-avatar {
  border-radius: 50%;
  z-index: 60;
  width: 45px;
  height: 45px;
}
.chatting-about {
  font-weight: 200;
  color: #656565;
  font-size: 0.8em;
  padding: 0 5px;
}
.topic {
  font-weight: bold;
}
#chat-area {
  overflow: auto;
  background: white;
  width: 80%;
  align-self: start;
}
#chat-area::-webkit-scrollbar {
  display: none;
  scrollbar-width: 0px;
}
.chatContainer {
  width: 90%;
}
.msg-container {
  display: flex;
  width: 90;
  height: inherit;
  font-size: 1.5em;
  margin: 0.7em 0;
  text-align: center;
  margin-left: 50;
}
.msg-user-name {
  min-width: 15vw;
  margin: 5px;
  margin-right: 10px;
  margin-top: 5px;
  text-align: right;
  vertical-align: middle;
}
.msg-msg {
  max-width: 90%;
  display: flex;
  justify-content: end;
  padding-right: 20px;
  overflow: hidden;
  text-align: left;
  vertical-align: middle;
}
::-webkit-scrollbar {
  width: 5px;
}
.icon {
  padding-right: 8px;
  justify-self: start;
}
.msg-msg p {
  justify-self: end;
  text-align: left;
}
.msg-and-btns {
  display: flex;
  justify-content: center;
}
.msg-btn-container {
  display: flex;
  align-items: center;
  margin-left: 1.4vw;
}
.btnRContainer,
.btnLContainer,
.btnTContainer {
  padding: 0 2px;
  /* border: 1px solid #000; */
}
.btnRContainer {
  padding-right: 0.3em;
  margin-left: 0.3vw;
}
.divLr {
  /* border: 1px solid #000; */
  justify-content: center;
}
.divLrBtns {
  width: inherit;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border: 2px solid #000; */
}
#replyBox {
  display: flex;
  text-align: center;
  margin-left: 15%;
  margin-bottom: 10px;
}
.replyTo {
  margin-left: 10px;
  text-align: center;
  align-self: flex-end;
}
button,
.cl-joinRoom {
  cursor: pointer;
}
.btn-join-chat {
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.blur-bg {
  filter: blur(10px);
  -webkit-filter: blur(10px);
  position: absolute;
  width: 50%;
  border-radius: 50%;
  z-index: 1;
  left: 30%;
  background: rgba(0, 0, 0, 0.3);
  height: 75%;
}
/*hover states for buttons*/
.btnh:hover {
  cursor: pointer;
}
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* error message */
.errorContainer {
  /* border: 2px solid #000; */
  height: 99vh;
}
.container-layout {
  height: 80%;
  width: 100%;
  /* border: 1px solid #000; */
}
.error-msg {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 40%;
  /* border: 2px solid #000; */
}
.console-msg {
  /* border: 2px solid #000; */
  color: #aaa;
  /* position:relative;
  bottom: 3%; */
  font-size: 1.2em;
  margin-left: 4.5em;
  text-align: center;
}
.home-button {
  border-radius: 12px;
  background-color: #828282;
  /* color: #fff; */
  width: 10em;
  /* height: 4%; */
  position: relative;
  left: 43.5em;
  bottom: 1%;
  padding: 8px;
}
.home-button a {
  color: #fff;
  font-size: 1.2em;
}
.home-button a:hover {
  color: #fff;
}
.gifBtn {
  background: rgba(153, 153, 153, 1);
  position: absolute;
  right: 18%;
  top: 9px;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.gifBtn:hover {
  background-color: #242424;
}
.fetchGifs {
  position: absolute;
  height: 300px;
  width: 300px;
  background-color: black;
  bottom: 80px;
  overflow: auto;
  padding: 5px;
  justify-content: center;
  align-items: center;
  right: 20%;
  border-radius: 10px;
  z-index: 10px;
}
