
.bubbleUI{
	width: 850px;
	height: 390px;
	font-size: 1.7em;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	/* border: 2px solid #000; */
	padding-top: .45em
	/* margin-top: 5px; */
}
.bubble {
	/* width: 10%; 
	height: 10%;  */
	border-radius: 50%;
	white-space: pre;
	filter: drop-shadow(0px 3.51357px 3.51357px rgba(0, 0, 0, 0.1));
	line-height: 0.9;
	/* text-transform: capitalize; */
}
.bubble:hover{
	box-shadow: 0 0 0 4px #fff !important;
	filter: drop-shadow(0px 3.51357px 3.51357px rgba(0, 0, 0, 0.1));
}
br {
  content: '\A';
  display: contents;
  white-space: pre;
}
@media screen and (min-device-height:1000px){
	.bubbleUI{
	padding-top: 2em
	/* margin-top: 5px; */
	}
}