
.bubbleUI{
	width: 600px;
	/* height: 600px; */
	/* position: relative; */
	/* z-index: 5; */
	/* margin-top: 2em; */
	font-size: 1.7em;
	display: flex;
	flex-wrap: wrap;
	align-self: start;
	justify-content: start;
	border: 2px solid #000;
	/* overflow: scroll; */
}
.bubble {
	width: 20%; 
	height: 20%; 
	border-radius: 50%;
	white-space: pre;
}
.bubble:hover{
	box-shadow: 0 0 0 4px #fff !important;
}
br {
  content: '\A';
  display: contents;
  white-space: pre;
}