
.bubbleUI{
	width: 65vw;
	/* height: 380px; */
	font-size: 1.7em;
	/* position: relative; */
	/* top: 14em;
	left: 5.5em; */
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	/* border: 2px solid #fff; */
	/* padding-top: .45em; */
	/* margin-top: 5px; */
}
.bubble {
	/* width: 10%; 
	height: 10%;  */
	border-radius: 50%;
	color: #fff;
	white-space: pre;
	filter: drop-shadow(0px 3.51357px 3.51357px rgba(0, 0, 0, 0.1));
	line-height: 0.9;
	/* text-transform: capitalize; */
}
.bubble:hover{
	box-shadow: 0 0 0 4px #fff !important;
	filter: drop-shadow(0px 3.51357px 3.51357px rgba(0, 0, 0, 0.1));
}
/* @media screen and (min-device-height:1000px){
	.bubbleUI{
	margin-top: 2em;
	height: auto;
	}
} */

@media screen and (max-width:880px){
	.bubbleUI{
		width: 70vw;
		height: auto;
		overflow: scroll;
		left: 3em;
	}
}

@media screen and (max-width:750px){
	.bubbleUI{
		width: 70vw;
		overflow: scroll
	}
}
@media screen and (max-width:540px){
	.bubbleUI{
		width: 80vw;
		overflow-y: scroll
	}
}