@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
}

/* Start.js */
.white-text {
  color: white !important;
}
.center-it {
  transform: translate(4%, 115%);
  /* border: 1px solid #fff */
}
.artistLink{
  /* border: 1px solid #fff; */
/* position:absolute; */
  /* transform: translate(40vw, 70vh); */
  color: #fff;
  font-size: 1.15em;
  align-self:end;
  justify-self:end;
  padding: 1.5em;
}
.artistLink:hover{
  color: #fff;
}
/* App.js */
.wrapper{
/* border:1px solid #fff; */
display:grid;
}
/* createLink.js */
#createLink-div{
  /* margin-top: 1em; */
  /* border: 2px solid #000 */
}
.prevIcon {
  /* align-self: end; */
  /* border: 3px solid #000; */
}
.header2 {
  color: #fff;
  font-weight: 200;
  font-size: 2em;
  /* border: 3px solid #000; */
}
.center-it-cl{
  /* border: 2px solid #000; */
  width: 100%;
  height: 100%;
  align-self:  


  center;
  justify-self: center;
}
.center-it-cl div{
  /* border: 3px solid #000 */
}
.cbtn{
/* height: 2.3em; */
box-sizing: border-box;
color: #fff !important;
font-size: 1.7em !important;
/* display: table-cell;
vertical-align: middle; */
}

.chatAbout {
  font-size: 2em;
  margin-top: 85px;
  /* border: 2px solid #000; */
}
.cl-inputSec{
/* border: 2px solid #000; */
width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  justify-self:center;
  /* flex-direction: row */
}
.inlineBlock {
  display: inline-block;
}
.bubb {
  font-family: "Courier New", Courier, monospace;
  opacity: 0.7;
}

.bg {
  /* background-image: url("images/giphy-3.gif"); */
  background-image: linear-gradient(rgba(109, 72, 225, 0.45), #7325c2),
    /* url("https://media.giphy.com/media/eBtpLQVJeFEBx92VCy/giphy.gif"); */
      url("https://media.discordapp.net/attachments/787951209818226708/788658752982351892/giphy-3.gif");
  opacity: 1;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transform: scale(1.2);
}

/* .position {
  margin: 2em;
  position: relative;
  bottom: 10vw;
} */
.ui.center.aligned {
  color: #fff;
  position: relative;
  right: 3em;
}
/* copyLink.js */
.copyLink-div{
  width: 100%;
  height: 100%;
  /* margin-top: 2em; */
  /* border: 1px solid #000; */
  transform: translateX(4.1%);
  /* justify-self: center;
  align-self: center; */
}
.corner{
  display: flex;
  align-items: flex-end;
  /* position: absolute; */
  /* border: 2px solid #000;  */
}
.header{
  font-size: 2em;
  display: block;
}.circular-btns{
  display: flex;
  justify-content: space-around;
  /* border: 1px solid #fff; */
  width: 250;
  text-transform: uppercase;
  margin: .4em 0 .6em 0;
}
.circular-btns div{
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid #fff */
  /* text-align:center;
  vertical-align: middle; */
}
.avatarBtn{
background-color: transparent;
/* border: 1px solid #fff; */
}

.form{
display: grid;
place-items: center;
/* height: 99%;
width: 99%; */
/* border: 2px solid #fff; */
}
#url-preview{
  display: flex;
  flex-direction: row;
}
.copyHover:hover {
  background-color: #48A7FF !important;
  box-shadow: none !important;
}

.btnOutline:hover{
box-shadow: 0 0 0 3px #fff;
position: relative;
z-index: 10

}
.linkCopied{
  background: #fff;
  border-radius:24px;
  border-radius: 35px;
  text-align: center;
  padding: 7px 12px;
  margin-right: 5px;
  width: auto;
  visibility: hidden;
}
.lcChatRoom{
  position: absolute;
  left: 5em;
  top: 6em;
}
/* #url-previe{
  width: 100%;
  height: 100%;
  object-fit: stretch;
} */
.topic-input::-webkit-input-placeholder{
  color: #d9d9d9;
  font-size: 1.2em;
  vertical-align: middle;
  line-height: 1.5em;
  /* border: 1px solid #000; */
  /* text-align: center; */
}
#input-area {
  bottom: 10px;
  width: 60%;
  height: 75%;
  /* margin-left: 10em; */
  /* border: 1px solid #000; */
  display: grid;
  grid-row-gap: 5px;
  text-align: center;
  /* background-color: transparent; */
}
#input-area ::-webkit-scrollbar {
  display: none;
  scrollbar-width: 0px;
}
.in-grid {
  /* border: 2px solid #000; */
  display: grid;
  width: 85%;
  grid-template-columns: 2fr 0.01fr;
  place-items: center;
  justify-self: end;
  align-content: center;
}
/*preventing border*/
:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}
.message-input {
  border-radius: 40px;
  width: inherit;
  resize: none;
  font-size: 15px;
  padding-left: 25px;
  padding-top: 15px;
  border: 1px solid;
  justify-self: end;
  margin-bottom: 50px;
}
.message-input::-webkit-input-placeholder {
  color: #d9d9d9;
  font-size: 1em;
  vertical-align: middle;
  line-height: 1.5em;
  padding-left: 0.1em;
}
.enterBtn {
  justify-self: start;
}

.chatBg {
  /* background-image: url("images/giphy-3.gif"); */
  /* background-image: url("https://cdn.discordapp.com/attachments/787951209818226708/788658412892061716/source.gif"); */
  z-index: -5;
  background-position: center;
  background-size: cover;
  height: 90vh;
  transform: scale(1.2);
  text-align: center;
  align-content: center;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
#inChatRoom{
  z-index: 20;
  position:absolute;
  width: 90%;
  height: 12%;
  /* display:flex; */
  justify-content: center;
  /* top: 2em;
  left: 5em */
}
#new-user {
  width: 330px;
  height: 60%;
  /* height: 300px; */
  /* max-height: 60vh; */
  background-color: white;
  border-radius: 70px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  z-index: 10;
  text-align: center;
  font-family: 'Roboto'
}
.name{
		margin-top: 1.2em;
	}
.userName-input {
  border-radius: 20px;
  border: 2px solid #DCDCDC;
  font-size: 23px;
  width: 210px;
  padding: 17px;
}
::placeholder{
  color: #E7E7E7;
}
.userName-input:focus {
  outline: none;
}
.chatJoinBg {
  background-position: center;
  background-size: cover;
  height: 110px;
  width: 100%;
  border-radius: 70px 70px 0px 0px;
  padding: 20px;
  text-align: center;
}
button:focus {
  outline: none !important;
  opacity: 0.6;
}
button:hover {
  padding: 5px;
}
.inputTextBox {
  display: flex;
  align-content: center;
}
.cancelText {
  margin: 0 auto;
  margin-top: 10px;
  visibility: hidden;
}
.newRoom {
  height: 100vh;
  object-fit: contain;
  display: grid;
  grid-template-columns: 0.07fr 1fr;
}
.rBtns {
  height: inherit;
  justify-content: center;
}
.copySvg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  width: 15%;
}
.copy:hover path{
  fill: #656565 ;
}

.chat-container {
  display: grid;
  grid-gap: 0;
  place-items: center;
  height: 90%;
  /* border: 1px solid #000; */
  width: 100%;
  justify-self: center;
}
.topicAndListContainer{
  /* border: 1px solid #000; */
  padding: .7em 0 .3em 0;
  display: flex;
  width: 60%;
  justify-content: space-around;
  align-items: flex-end;
}
.chat-topic {
  width: inherit;
  text-align: center;
  font-weight: 600;
  font-size: 1.6em;
  font-style: "roboto";
  /* border: 2px solid #000; */
  /* display: flex; */
}
.userListContainer{
   padding: 0 1em;
   /* border: 1px solid #000; */
   display: flex;
   align-items: center;
   position: absolute;
   top: 10px;
   left: 33vw;
   z-index: 50;
}
.stackContainer{
   display: flex;
   flex-direction: row;
   /* border: 2px solid #000 */
}
.userCounter{
  /* border: 1px solid #000; */
  padding: 0 5px;
}
.chatting-about {
  font-weight: 200;
  color: #656565;
  font-size: 0.8em;
}
.topic {
  font-weight: bold;
}
#chat-area {
  overflow: auto;
  background: white;
  width: 80%;
  align-self: start;
}
#chat-area::-webkit-scrollbar {
  display: none;
  scrollbar-width: 0px;
}
.chatContainer {
  width: 90%;
}
.msg-container {
  display: flex;
  width: 90;
  height: inherit;
  font-size: 1.5em;
  margin: 0.7em 0;
  text-align: center;
}
.msg-user-name {
  min-width: 15vw;
  margin: 5px;
  margin-right: 10px;
  text-align: right;
  vertical-align: middle;
}
.msg-msg {
  max-width: 90%;
  display: flex;
  justify-content: end;
  padding-right: 20px;
  overflow: hidden;
  text-align: left;
  vertical-align: middle;
}
::-webkit-scrollbar {
  width: 5px;
}
.icon {
  padding-right: 8px;
  justify-self: start;
}
.msg-msg p {
  justify-self: end;
  text-align: left;
}
.msg-and-btns {
  display: flex;
  justify-content: center;
}
.msg-btn-container {
  display: flex;
  align-items: center;
  /* border: 1px solid #000; */
}
.btnRContainer,
.btnLContainer,
.btnTContainer{
  padding: 0 2px;
  /* border: 1px solid #000; */
}
.btnRContainer{
  padding-right: .3em;
}

.divLr {
  border: 1px solid #000;
  justify-content: center;
}
.divLrBtns {
  width: inherit;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid #000;
}
#replyBox {
  display: flex;
  text-align: center;
}
.replyTo {
  margin-left: 10px;
  text-align: center;
}
button, .cl-joinRoom {
  cursor: pointer
}
.btn-join-chat{
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 40px;
  padding-bottom: 40px;

}
.stayBtn{
  background-color:#BCBCBC;
}
.leaveBtn{
  background-color:#48A7FF;

}
.blur-bg{
  filter: blur(10px);
  -webkit-filter: blur(10px);

  position: absolute;
height: 75%;
width: 50%;
border-radius: 50%;
z-index: 1;
left: 30%;
background: rgba(0,0,0,0.3);

}

/*hover states for buttons*/
.btnh:hover{
cursor: pointer
}
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* error message */
.errorContainer{
  /* border: 2px solid #000; */
  height: 99vh;
}
.container-layout{
  height: 80%;
  width: 100%;
  /* border: 1px solid #000; */
}
.error-msg{
  display: flex;
  align-items:flex-end;
  justify-content: center;
  height: 40%;
  /* border: 2px solid #000; */
}
.console-msg{
  /* border: 2px solid #000; */
  color: #AAA;
  /* position:relative;
  bottom: 3%; */
  font-size: 1.2em;
  margin-left: 4.5em;
  text-align: center;
}
.home-button{
  border-radius: 12px;
  background-color: #828282;
  /* color: #fff; */
  width: 10em;
  /* height: 4%; */
  position:relative;
  left: 43.5em;
  bottom: 1%;
  padding: 8px;
}
.home-button a{
  color: #fff;
  font-size:1.2em;
}
.home-button a:hover{
  color:#fff;
}