@media only screen 
  and (min-width: 768px) 
  and (max-width: 1030px) {
	  /* start.js */
	  .app{
		  overflow:hidden;

	  }
	  /* .center-it{
		  border: 2px solid #000;
		  transform: translate(6%,200%) scale(120%);
	  } */
}